<div class="row">
    <h1 class="page-header">Rooms</h1>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <button type="button" class="list-group-item" ng-click="roomList.selectedRoom = room" ng-repeat="room in roomList.rooms()">
            </button>
        </div>

        <div class="row text-center">
            <a href="#/Room/RoomAdd/" class="btn btn-default">Add New Room</a>
        </div>
    </div>

    <div class="col-sm-9">
        <div ng-room-details room="roomList.selectedRoom"></div>
    </div>
</div>