@{
	Layout = "_Layout";
}
<div ng-app="ReservationStudio">
	<div ng-view></div>
</div>


@section ScriptsDev {
	<script>
		var appSettings = {};
		appSettings.reservationServer = "@ViewBag.AppSettings.ReservationServer";
	</script>
	<script src="~/js/app.js"></script>
}

@section Scripts {
	<script src="~/js/app.min.js"></script>
}